body {
  font-family: lato, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #404040;
  background-color: white;
  position: relative;
  padding-top: 64px !important; }

body, html {
  background: white;
  margin: 0;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0; }

@media (min-width: 1px) {
  header, #breadcrumb-wrapper, footer {
    width: 100%; } }
header {
  display: block;
  position: fixed;
  background-color: #2a93fc;
  top: 0;
  color: white;
  z-index: 1030; }
  header .navbar-brand {
    width: 98%; }
    header .navbar-brand .logo a {
      color: white; }
      header .navbar-brand .logo a:hover {
        text-transform: none;
        text-decoration: none; }
    header .navbar-brand .menu {
      float: right;
      padding-right: 10px;
      font-size: small; }
      header .navbar-brand .menu a {
        color: white; }
        header .navbar-brand .menu a:hover {
          text-transform: none;
          text-decoration: none; }

#breadcrumb-wrapper {
  background: whitesmoke;
  margin-bottom: 24px;
  padding: 10px 0;
  position: fixed;
  z-index: 1031;
  border-bottom: 1px solid #e6e6e6; }
  #breadcrumb-wrapper * {
    box-sizing: border-box; }
  #breadcrumb-wrapper .breadcrumb-container {
    padding-left: 10px;
    padding-right: 10px; }
  #breadcrumb-wrapper ol.breadcrumb li {
    padding-right: 10px;
    padding-left: 10px; }

#content {
  padding-top: 60px;
  width: 98%;
  margin: 1%;
  position: relative; }

footer {
  width: 98%;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  border-top: 1px solid #cccccc;
  font-size: 12px;
  color: #888888;
  text-align: right; }

.package-version #summary {
  font-style: italic;
  font-size: 0.9em; }
.package-version #description {
  border: 1px solid #9c9c9c;
  font-size: 10pt;
  margin-bottom: 20px;
  padding: 5px; }
  .package-version #description * {
    font-size: 10pt; }
  .package-version #description.closed {
    height: 6em;
    overflow: hidden;
    cursor: pointer; }
    .package-version #description.closed .value:after {
      content: "";
      position: absolute;
      margin: 3px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2.5em;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
      background: linear-gradient(top, rgba(255, 255, 255, 0), white); }
  .package-version #description.opened {
    overflow: auto;
    cursor: pointer; }

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  background: white; }
  .breadcrumb li {
    display: table-cell;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-image: initial;
    border-left: none;
    position: relative;
    z-index: 1;
    font-size: 0.875em;
    line-height: 1.6; }
    .breadcrumb li ::after {
      display: block;
      position: absolute;
      content: " ";
      background: white;
      width: 8px;
      height: 8px;
      border-right: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      right: -5px;
      top: 10px;
      transform: rotate(45deg);
      z-index: 10; }
    .breadcrumb li:last-child {
      border-radius: 0 2px 2px 0;
      padding: 0.25em 0.5em 0.25em 0.75em;
      color: #8c8c8c;
      cursor: default; }
      .breadcrumb li:last-child ::after {
        display: none; }
    .breadcrumb li:first-child {
      border-radius: 2px 0 0 2px;
      border-left: 1px solid #e6e6e6; }
    .breadcrumb li a {
      padding: 0.5em 0.5em 0.5em 0.75em;
      width: auto;
      border: none;
      color: #1f539a;
      line-height: 1; }
      .breadcrumb li a:hover {
        color: #2a93fc;
        text-decoration: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent; }

.navbar-brand {
  float: left;
  padding: 20px 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  height: auto; }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset; }

.navbar-default .navbar-brand {
  color: white; }

.navbar-default {
  background-color: #2a93fc;
  border-color: #0982fc; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-radius: 0; }

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

.search-bar #edit-submit-wfp-it-search {
  background: url("../img/icon-sprite.png") 3px -198px no-repeat scroll #2a93fc;
  border: 0 none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 29px;
  text-align: center;
  text-indent: -9999px;
  width: 29px;
  vertical-align: middle; }

.search-bar .form-item-search-api-views-fulltext {
  margin: 0;
  padding: 0; }

.search-bar {
  border-left: 1px dashed #c9c9c9;
  float: right;
  width: 360px;
  padding-left: 2px;
  border-left: 1px dashed #c9c9c9;
  margin-top: -29px; }
  .search-bar .views-widget {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 0; }
  .search-bar label {
    display: none; }
  .search-bar form {
    width: 100%; }
  .search-bar .form-control {
    line-height: 1em;
    height: 30px;
    display: inline-block;
    font-size: 15px;
    width: 100%;
    padding: 6px 12px;
    color: #8c8c8c;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .search-bar .form-control input {
      width: 20px; }
  .search-bar .views-submit-button, .search-bar .search-bar #edit-search-api-views-fulltext-wrapper {
    display: inline-block; }

.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
  clear: both; }

.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
  content: " ";
  display: table; }

a.list-group-item-danger.active, button.list-group-item-danger.active, a.list-group-item-danger.active:hover, button.list-group-item-danger.active:hover, a.list-group-item-danger.active:focus, button.list-group-item-danger.active:focus {
  color: white;
  background-color: #a94442;
  border-color: #a94442; }

a.list-group-item-info.active, button.list-group-item-info.active, a.list-group-item-info.active:hover, button.list-group-item-info.active:hover, a.list-group-item-info.active:focus, button.list-group-item-info.active:focus {
  color: white;
  background-color: #31708f;
  border-color: #31708f; }

a.list-group-item-success.active, button.list-group-item-success.active, a.list-group-item-success.active:hover, button.list-group-item-success.active:hover, a.list-group-item-success.active:focus, button.list-group-item-success.active:focus {
  color: white;
  background-color: #3c763d;
  border-color: #3c763d; }

a.list-group-item-warning.active, button.list-group-item-warning.active, a.list-group-item-warning.active:hover, button.list-group-item-warning.active:hover, a.list-group-item-warning.active:focus, button.list-group-item-warning.active:focus {
  color: white;
  background-color: #8a6d3b;
  border-color: #8a6d3b; }

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #cccccc; }

address {
  margin-bottom: 24px;
  font-style: normal;
  line-height: 1.5em; }

article, aside, details, figcaption, figure, main, menu, nav, section, summary {
  display: block; }

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
  margin-bottom: 0; }

blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  font-size: 20px;
  border-left: 5px solid #f3f3f3; }

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #cccccc;
  text-align: left; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  border-width: 1px 0 0;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: #f3f3f3; }

img {
  border: 0;
  vertical-align: middle; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 15px;
  line-height: 1.5em;
  word-break: break-all;
  word-wrap: break-word;
  color: #404040;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 2px;
  overflow: auto; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

table {
  vertical-align: top;
  padding: 0.25em 0.4em;
  text-align: left;
  font-weight: normal;
  margin: 0.5em 0;
  border-collapse: collapse;
  width: 100%; }
  table th {
    background: #cccccc;
    color: black; }
  table.status {
    background: white;
    width: 50%; }
    table.status th {
      background: white; }
  table.index-info {
    font-size: 1em;
    width: 100%;
    border: 1px solid rgba(137, 137, 137, 0.66);
    background-color: whitesmoke;
    padding-bottom: 10px;
    border-collapse: initial; }
    table.index-info th {
      background-color: whitesmoke; }
    table.index-info td {
      width: 50%;
      border: none; }
  table.packages {
    background: #fafafa;
    font-size: 0.9em; }
    table.packages a {
      color: #1f539a; }
      table.packages a:hover {
        color: #2a93fc;
        text-transform: none; }
    table.packages thead th:nth-child(4n) {
      text-align: center; }
    table.packages tbody tr:hover {
      background-color: #d4d4d4; }
    table.packages tbody tr td {
      padding: 5px; }
      table.packages tbody tr td:nth-child(4n) {
        width: 130px;
        text-align: center; }

::before, ::after {
  box-sizing: border-box; }

[hidden], template {
  display: none; }

[role="button"] {
  cursor: pointer; }

a {
  background-color: transparent;
  color: #2a93fc;
  text-decoration: none; }
  a :active {
    outline: 0; }
  a :hover {
    outline: 0;
    text-decoration: underline;
    color: #036dd6; }
  a :focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
    text-decoration: underline; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

body.toolbar.navbar-is-fixed-top {
  padding-top: 94px !important; }

button {
  overflow: visible; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button, input, optgroup, select, textarea {
  color: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin: 0; }

button, select {
  text-transform: none; }

button[disabled], html input[disabled] {
  cursor: default; }

code {
  font-size: 80%; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dd {
  margin-left: 0; }

dfn {
  font-style: italic; }

dl {
  margin-top: 0;
  margin-bottom: 24px; }

dt {
  font-weight: bold; }

dt, dd {
  line-height: 1.5em; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

form, #navigation, .searchresults {
  position: relative;
  margin: 0 1em; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h1.index_title span::after, div.user_index_list dt span::after, div.user_index_list ul a span::after {
  content: ")"; }

h1.index_title span::before, div.user_index_list dt span::before, div.user_index_list ul a span::before {
  content: "("; }

html {
  font-family: sans-serif; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

html.overlay-open .navbar-fixed-top {
  z-index: 400; }

input {
  line-height: normal; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

input[type="file"] {
  display: block; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px; }

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal; }

input[type="range"] {
  display: block;
  width: 100%; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"] {
  box-sizing: border-box; }

label {
  display: block; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: inherit;
  color: #404040;
  border-width: 0 0 1px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5; }

output {
  display: block;
  padding-top: 7px;
  font-size: 16px;
  line-height: 1.5em;
  color: #8c8c8c; }

p {
  margin: 1em 0; }

p:last-child {
  margin-bottom: 0; }

pre, table {
  font-size: inherit; }

select.input-group-lg > .form-control, select.input-group-lg > .input-group-addon, select.input-group-lg > .input-group-btn > .btn {
  height: 49px;
  line-height: 49px; }

select.input-group-sm > .form-control, select.input-group-sm > .input-group-addon, select.input-group-sm > .input-group-btn > .btn {
  height: 33px;
  line-height: 33px; }

select[multiple], select[size] {
  height: auto; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td {
  line-height: 1.25em; }

table td[class*="col-"], table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

table thead th {
  padding-top: 0.86em;
  padding-bottom: 0.86em; }

table thead {
  background-color: #ecf0f1;
  color: #7a7d7f;
  font-weight: 600; }

table tr td {
  clear: both;
  overflow: hidden;
  padding: 10px;
  vertical-align: top; }

table {
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  font-size: 0.85em; }

td, th {
  padding: 0; }

th {
  text-align: left; }

.statusline {
  font-weight: bold; }
  .statusline.ok {
    color: green; }

/*# sourceMappingURL=16.css.map */
